body {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    background-color:rgb(226, 226, 226) ;
    color: rgb(50, 130, 65);
}
h2 {
    font-size: 30pt;
    color: whitesmoke;
    margin-left: 2%;
}
h3 {
    font-size: 24pt;
    color: whitesmoke;
    margin-left: 2%;
    font-style: italic;
}
.h2_2 {
    color: rgb(50, 130, 65);
}
.name_of_the_site{
    color: rgb(50, 130, 65);
    text-align:left;
    margin-right: 10px;
    font-size: 30pt;
    display: flex;
}

.btn{
    text-align:center;
    border: 3px solid  rgb(50, 130, 65);
    padding: 10px;
    min-width: 10%;
    height: 7%;
    color:#f0f0f0;
    background-color:rgb(50, 130, 65);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    text-decoration: none;
}
.btn:hover {
    background-color:whitesmoke;
    color:rgb(50, 130, 65);
}
.btn:active {
    transform: translateX(4px);
}
.hat {
    background-color: white;
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
    height: auto
}
.buttons {
    background-color:rgb(50, 130, 65);
    display: flex;
    min-height: 80px;
    flex-wrap: wrap;
    max-height: 120px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.main {
    background-color: rgb(50, 130, 65);
    margin: 1%;
    border-radius: 10px;
    padding: 1%;

}
.obsh {
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    color:whitesmoke;
    text-align: justify;
    margin: 2%;
    margin-right: 3%;
}
.logo {
    display: inline-block;
    width: 200px;
    height: 200px;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.logo:hover {
   transform: rotate(360deg);
   opacity: 0.3;
}
.text_facts {
    display: flex;
    font-size: 26pt;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%
}
.main2 {
    background-color: white;
    margin: 1%;
    border-radius: 10px;
    padding: 1%;
}
ol {
    color: whitesmoke;
    font-size: 16pt;
    font-style: italic;
    margin: 1%;
}
a {
    color: rgb(50, 130, 65);
    font-size: 20pt;

}
.question {
    text-align: center;
    background-color: white;
    border-color: rgb(199, 199, 199);
    border-style: dashed;
    border-radius: 100px;
    border-width: 15px;
    width: 70%;
    margin-left: 15%;
    
}
.radio-label {
    cursor: pointer;
    border-color: green;
    display: inline;
    margin-left: 5%
}
.btn_2 {
    appearance: none;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: 6px solid whitesmoke;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    line-height: normal;
    margin-left: 40%;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    height: 100px;
    }

    .btn_2:hover {
    color: #fff;
    background-color: white;
    box-shadow: rgba(256, 256, 256, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    color:rgb(50, 130, 65)
    }

    .btn_2:active {
    box-shadow: none;
    transform: translateY(0);
    }
.res {
    margin-left: 0;
    background-color: whitesmoke;
    border-radius: 100%;
    width: 75vw;
    height: 75vw;

}
.footer {
    background-color:rgb(199, 199, 199);
    width: auto;
    height: auto;
    padding: 1%;
}
.footer_a {
    font-size: 0.5vh;
    font-style: normal;
    text-decoration: none;
}
.footer_a:hover {
    color: rgb(5, 41, 5);
}
.circle {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.cir{
    font-size: 2vw;
}
.off{
    text-align: right;
    display: block;
    margin-right: 3%;
    font-size: 2.5vw;
    text-decoration: none;
}

.container{
    height: auto;
}

.next{
    display: none;
    padding-top: 1px;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 140px;
    height: 100px;
    width: 300px;
    background-color: rgb(150, 227, 143);
    color:black;

    transition: all;
    transition-duration: 0.7s;
}
.next.active{
    display: block;
}
.next:hover{
    background-color:rgb(166, 252, 158);
    color:rgb(176, 176, 176);
}
.send{
    display: none;
    padding-top: 1px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 140px;
    height: 100px;
    width: 400px;
    background-color: rgb(116, 160, 55);
    border: 0px solid white;
    color:white;

    transition: all;
    transition-duration: 0.7s;
}
.send.active{
    display: block;
}
.send:hover{
    display: block;
    background-color:rgb(146, 197, 76);
    color:rgb(95, 95, 95);
}
.send.magaHover{
    background-color:rgb(146, 197, 76);
    color:rgb(95, 95, 95);
}
.sendBlock{
    width: 400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.vozhImg{
    height: auto;
    width: auto; 
    max-width: 400px;
    max-height: 400px;
    border-radius: 20px; 
    margin: 2%;
}
.blockImage{
    display: inline-block;
}
.myImg{
    width: 450px;
    height: 450px;
}
.imgLogo{
    text-align: center;
}

p{
    text-align:center; 
    font-size:xx-large;
}
.textQues{
    text-align: left;
}
.question1{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 100px;

    height: auto;
    width: auto;

    background-color: rgb(50, 130, 65);
    color:white;
    border:white dashed 10px;
    box-shadow:0px 0px 0px 8px rgb(50, 130, 65);

    padding-top: 25px;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 15px;
}
.variant{
    display: block;
}
.variant.active{
    border: 10px solid  rgb(36, 79, 44);
}
.variant.hide{
    display: none;
}
.no, .yes{
    font-size: xx-large;
    text-align: center;
    height: 150px;
    width: 350px;
    margin: 65px 20px;
    margin-bottom: 20px;
    color:black;
    border: 0px solid  white;
}
.labelYN{
    font-weight: bold;
    margin-top: 55px;
}
.yes{
    background-color: rgb(115, 207, 108);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: all;
    transition-duration: 0.7s;
}
.yes:hover{
    background-color: rgb(135, 239, 128);
    color:rgb(176, 176, 176);
}
.no{
    background-color: rgb(218, 84, 84);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: all;
    transition-duration: 0.7s;
}
.no:hover{
    background-color: rgb(255, 125, 125);
    color:rgb(176, 176, 176);
}

.block1, .block2, .block3, .block4, .block6{
    padding-top: 10px;
    font-size: xx-large;
    text-align: center;
    height: 150px;
    width: 350px;
    margin: 25px 25px;
    color:black;
    border: 0px solid  white;
  }

  .block1, .block2, .block3, .block4, .block5, .block6{
    background-color: rgb(182, 231, 154);
  }
  .block1:hover{
    background-color: rgb(216, 238, 203);
    color:rgb(176, 176, 176);
  }
  .block2:hover{
    background-color: rgb(216, 238, 203);
    color:rgb(176, 176, 176);
  }
  .block3:hover{
    background-color: rgb(216, 238, 203);
    color:rgb(176, 176, 176);
  }
  .block4:hover{
    background-color: rgb(216, 238, 203);
    color:rgb(176, 176, 176);
  }
  .block5:hover{
    background-color: rgb(216, 238, 203);
    color:rgb(176, 176, 176);
  }
  .block6:hover{
    background-color: rgb(216, 238, 203);
    color:rgb(176, 176, 176);
  }
  
  .block1{
    border-top-left-radius: 40px;
    transition: all;
    transition-duration: 0.7s;
  }
  .block2{
    border-bottom-left-radius: 40px;
    transition: all;
    transition-duration: 0.7s;
  }
  
  .block3{
    border-top-right-radius: 40px;
    transition: all;
    transition-duration: 0.7s;
  }
  
  .block4{
    border-bottom-right-radius: 40px;
    transition: all;
    transition-duration: 0.7s;
  }
  
  .block5{
    padding-top: 10px;
    font-size: xx-large;
    text-align: center;
    height: 150px;
    width: 700px;
    margin: 10px 25px;
    color:black;
    border: 0px solid  white;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: all;
    transition-duration: 0.7s;
  }
  .block6{
    transition: all;
    transition-duration: 0.7s;
  }

.rezults{
    text-decoration: underline;
}
.blockRezult{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;

    height: auto;
    width: auto;

    background-color: rgb(248, 248, 248);
    color:rgb(65, 65, 65);
    border:rgb(65, 65, 65) solid 10px;
    box-shadow:0px 0px 0px 8px rgb(239, 239, 239);

    padding-top: 25px;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 15px;
}


.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 800px;
    margin-left: 50%;
    margin-top: 130px;
    transform: translateX(-400px);
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(77, 222, 48) 0%, rgb(250, 250, 20) 50%, rgb(220, 71, 44) 100%);
    height: 6px;
  }
  
  
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 4px solid;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    max-width: 80px;
    position: relative;
    bottom: 15px;
    background-color: #ffffff;
    cursor: -webkit-grab;
  
    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
  }
    
  
.withBackground{
    min-height: 145vh;
    max-height: 190vh;
    background-image: url('../images/backroundTest.png');
    background-repeat:no-repeat;
    background-size:cover;
}
.content{
    padding-top: 0px;
}
@media (min-width: 1200px) {
    .res {
        width: 40vw;
        height: 40vw;
    }
    .cir {
        font-size: 1vw
    }
    .footer_a {
        font-size: 1vw;
    }
    .off {
        font-size: 1.3vw;
    }
}

@media (max-width: 576px) {
    .osn {
        font-size: 1em;
        color: black
    }
}