{% extends "head.html" %}
{% block content %}
	<body>
        <div class="main circle">
            <div>
                <p class="obsh osn" style="text-indent: 20px;">
                    Привет, молодой учёный) Это фансайт ШМУ. 
                </p>
                <p class="obsh osn" style="text-indent: 20px;">
                    Здесь можно найти немало интересного, а в первую очередь информацию про вожатых, которой нет на официальных сайтах и в группе вконтакте.
                    Кроме того, здесь можно познакомиться с традициями разных отрядов лагеря. Ну и как же без мемов) В общем, здесь найдётся всё то, чего нет на официальных страницах сайта ШМУ.
                    
                </p>
                <p class="obsh osn" style="text-indent: 20px;">
                    А также здесь можно пройти тест и выяснить, на какого вожатого ты больше всего похож. Ну, а если ты не можешь определиться с предметом, который будешь изучать в ШМУ,
                    то можешь выполнить тестирование, по результатам которого на основе твоих предпочтений тебе будет предложено подходящее направление.
                </p>
            </div>
            <img src="{{ url_for('static', filename='images/main.JPG') }}" style="width:70%; border-radius: 10px">    
        </div>
	</body>
{% endblock %}