{% extends "head.html" %}
{% block content %}
<body>
    <div class="main">
        <h2>Традиции Школы Молодых Учёных. Традиции Биохима</h2>
        <h3>Санпосточки</h3>
        <div class="text_facts">
            <img src="{{ url_for('static', filename='images/nusha.PNG') }}" style="width: 15%; object-fit: contain; margin: 2%;">
            <p class="obsh">
                Каждую смену традиционно из отряда Биохим выбирают санпосточек - мальчика и девочку, которые будщут обходить комнаты, проверяя их на чистоту.
                По итогам такой проверки на утренней линейке отрядам выдают смешариков. Кроша - за самые чистые комнаты, а Нюшу - за самые грязные. Это объявляется
                на утренней линейке. Каждый день ШМУ приветствует санпосточек, добавляя к приветстрвию новое прозвище (вроде "милашки"). Так к концу
                смены набирается 10-12 прозвищ. Однажды в смене
                был установлен рекорд - отряд получил кроша 7 раз подряд. Такая традиция даёт стимул убираться в комнатах и поддерживать чистоту ребятам.

            </p>
            <img src="{{ url_for('static', filename='images/krosh.PNG') }}" style="width: 25%; object-fit: contain; margin: 2%;">
		    
        </div>
        <div class="text_facts">
            <div class="tt" style="display: block">
                <h3>ЗАГС</h3>
                <p class="obsh">
                    ЗАГС - одна из комнат детей отряда Биохим (обычно девочек), где участники смены могут родиться (им выдадут свидетельство о рождении),
                    пожениться и выйти замуж. Выполнить последнее можно только в том случае, если ты уже рождён в ШМУ. Такая комната традиционно украшается в
                    стиле настоящего ЗАГСа. Свидетельства о рождении и заключекнии брака печатаются. Церемония бракосочетания обычно не проводится бесплатно - 
                    работникам ЗАГСа приносят разные вкусняшки.
                </p>
            </div>
            <img src="{{ url_for('static', filename='images/zags.JPG') }}" style="width: 30%; object-fit: contain; margin: 2%; border-radius: 30px;">
        </div>
    </div>
    <div class="main2">
        <h2 class="h2_2" style="margin-left: 1%;">Традиции Лингвистов</h2>
        <div class="text_facts">
            
            <div class="tt" style="display: block">
                <h3 style="color: rgb(50, 130, 65)">Пеньки</h3>
                <p class="obsh" style="color: rgb(50, 130, 65)">
                    Отрядный символ лингвистов - пенёк.
                </p>
                <h3 style="color: rgb(50, 130, 65)">Посвящение в лингвистов</h3>
                <p class='obsh' style="color: rgb(50, 130, 65)">
                    Каждый человек из отряда лингвистов в начале смены проходит своеобразный обряд - посвящение. В чем заключается этот обряд, знают только
                    лингвисты.
                </p>
        </div>
        <img src="{{ url_for('static', filename='images/lingv.PNG') }}" style="width: 10%; object-fit: contain; margin: 2%;">
        <img src="{{ url_for('static', filename='images/lingv2.JPG') }}" style="width: 30%; object-fit: contain; margin: 2%; border-radius: 30px">
    </div>
    </div>
    <div class="main">
        <h2>Общие традиции</h2>
        <div class="text_facts">
            <div class="tt" style="display: block">
                <h3>Тайный друг</h3>
                <p class="obsh">
                    Это традиция, которая вводится в каждом отряде отдельно. На отрывках бумаги вожатыми пишутся имена детей из отряда.
                    Кроме того, вожатые тоже участвуют в данной игре. Затем каждый человек в отряде вытягивает случайное имя своего соотрядника.
                    Суть игры заклшюдчается в том, чтобы оказать внимание (подарки, записки, открытки, сюрпризы) тому человеку, чьё имя
                    будет написано на бумажке.
                </p>
                <h3>Почта</h3>
                <p class="obsh">
                    В середине смены Школы Молодого Учёного запускается почта. В главном холле размещается небольшой коробок, куда можно кидать
                    письма и записки, которые участники смены хотят отправить своим друзьям или вожатым. Такие письма доставляют голубушки - 
                    дети, которые на утренней линейке объявляют получателя, чтобы он забрал свое письмо. Кроме того, письмо можно прочитать со
                    сцены - это делается по желанию адресанта.
                </p>
        </div>
        <img src="{{ url_for('static', filename='images/prize.PNG') }}" style="width: 30%; object-fit: contain; margin: 2%;">
    </div>
    </div>
</body>
{% endblock %}