{% extends "head.html" %}
{% block content %}
	<body>
		<div class="main">
			<h2>Валерия Иванова</h2>
			<div class='text_facts'>
				<div class="info">
					<p class="obsh"> Лера родилась в Волгограде, отучилась 11 классов в школе, углублённо изучала английский язык и литературу.
						Поступила в ВГСПУ на переводчика со знанием английского и французского языков и переходит на третий курс. Лере 20 лет.
						У неё есть две маленькие собаки, а также сводные брат и сестра
						Лера знает французский язык.
						В детстве регулярно ездила в Сибирь к родственникам. Лера уже 2 раз поехала вожатой в ШМУ (и оба раза была вожатой отряда Биохим).
						До этого она ездила в ШМУ в качвестве ребёнка 4 раза.
					</p>
				<ol> Интересные факты:
					<li>
						В прошлой смене Лера сказала всем отрядам, что ненавидит чак-чак, а через 5 минут пошла есть его вместе с Артемом Колбиком
					</li>
					<li>
						10 лет занималась танцами
					</li>
					<li>
						Лера умеет хорошо готовить, особенно десерты :)
					</li>
				</ol>
				</div>
				
				<img src="{{ url_for('static', filename='images/lera.JPG') }}" class="vozhImg">
				<img src="{{ url_for('static', filename='images/lera2.JPG') }}" class="vozhImg">
			</div>
		</div>
		<div class="main2">
			<h2 class="h2_2">Анна Дуюнова</h2>
			<div class='text_facts'>
				<img src="{{ url_for('static', filename='images/anya.JPG') }}" class="vozhImg">
				<img src="{{ url_for('static', filename='images/anya2.JPG') }}" class="vozhImg">
			
				<div class="info">
					<p class="obsh" style='color:rgb(50, 130, 65)'>
						C 4 лет Аня занималась танцами, училась в музыкальной школе на фортепиано и вокале, 2 года провела в театральной студии.
						Она обожает учиться, всегда делала это легко и с удовольствием, часто участвовала в конкурсах, олимпиадах и конференциях.
						У Ани очень большой круг знакомых, она любит находиться в компаниях, заряжается энергией от людей.
					</p>
				<ol style='color:rgb(50, 130, 65)'> Интересные факты:
					<li>
						Аня увлекается веб-дизайном и испанским языком
					</li>
					<li>
						Ненавидит грязные кружки
					</li>
					<li>
						У неё есть достаточно много плейлистов под разные настроение
					</li>
					<li>
						У Ани есть целый архив с мемами с котиками)
					</li>
					<li>
						Она очень любит дарить близким подарочки и просто радовать людей милыми мелочами
					</li>
				</ol>
				</div>
				
				
		</div>
			
        </div>
		<div class="main">
			<h2>Александра Маркелова</h2>
			<div class='text_facts'>
				<div class="info">
					<p class="obsh"> Саша родилась в Волгограде, у неё есть старшая сестрёнка. Училась в Лицее №3.
						До 13 лет занималась плаванием, потом начала заниматься в художественной школе.
						Закончила лицей и художественную школу на красный аттестат. Поступила на технолога пищевой промышленности растительного сырья.
						Закончила университет в этом году.
					</p>
				<ol> Интересные факты:
					<li>
						Саша забрала крысу домой с экспериментальной лаборатории
					</li>
					<li>
						Ездила с ШМУ в германию девчачей компанией матрёшек
					</li>
					<li>
						Собирает коллекцию значков ручной работы
					</li>
					<li>
						Однажды на 10 смене ШМУ на сцене про Сашу пошутили, будто она "машина", и что на ней "ездят на рыбалочку". Про некоторых вожатых пошутили так же
					</li>
				</ol>
				</div>
				
				<img src="{{ url_for('static', filename='images/sasha.JPG') }}" class="vozhImg">
				<img src="{{ url_for('static', filename='images/sasha2.JPG') }}" class="vozhImg">
			</div>
			
        </div>
		<div class="main2">
			<h2 class="h2_2">Степан Цыганков</h2>
			<div class='text_facts'>
				<img src="{{ url_for('static', filename='images/stepa.JPG') }}" class="vozhImg">
				<img src="{{ url_for('static', filename='images/stepa2.JPG') }}" class="vozhImg">
			
				<div class="info">
					<p class="obsh" style='color:rgb(50, 130, 65)'>
						Стёпа родился в Волгограде в 2004 году.
						В садике он был очень активным и артистичным.
						В школе до класса 6 учился с отличием. Окончил 9 классов с тремя четверками.
						Далее учился в физико-математическом классе классе. Окончил 11 классов без троек. Занимался 13 лет дзюдо (с 4,5 до 17,5). Занимался с преподавателем по гитаре 2 года.
						Последние три года Стёпа увлекается съёмкой фото и видео и монтажем.
						Собрал команду юных киноделов. Снял с ними 5 короткометражек (В крови, Привязанность 1,2,3, Чудо) также снимал и монтировал клип "Самая Тёмная
						Ночь" для Волгоградской группы "Снова Не Успел".
						Стёпа собирается поступать на электроэнергетику.
					</p>
				<ol style='color:rgb(50, 130, 65)'> Интересные факты:
					<li>
						Стёпа очень много времени уделяет своей сестрёнке
					</li>
				</ol>
				</div>		
			</div>
		</div>
		<div class="main">
			<h2>Максим Минаев</h2>
			<div class='text_facts'>
				<div class="info">
					<p class="obsh"> Максим Мимнаев - студент 2-ого курса ВолгГТУ по направлению градостроительство.
						Закончил музыкальную школу по классу фортепиано, занимался несколько лет кикбоксингом.
						В последние годы активно увлекается альпинизмом, в 16 лет взошел на Эльбрус.<br>
						<i>"В людях мне нравится открытость и честность, я живу по принципу: как ты относишься к людям, так и они к тебе.
						Искренняя поддержка, открытое взаимопонимание и эмпатия по отношению друг к другу – истинное наслаждение в человеческом взаимодействии", -</i>
						говорит Максим.

					</p>
				</div>

					<img src="{{ url_for('static', filename='images/maksim.JPG') }}" class="vozhImg">
					<img src="{{ url_for('static', filename='images/maksim2.JPG') }}" class="vozhImg">

			</div>
		</div>
		<div class="main2">
			<h2 class="h2_2">Матвей Суворин</h2>
			<div class='text_facts'>
					<img src="{{ url_for('static', filename='images/matwei.JPG') }}" class="vozhImg">
					<img src="{{ url_for('static', filename='images/matwei2.JPG') }}" class="vozhImg">

			
				<div class="info">
					<p class="obsh" style='color:rgb(50, 130, 65)'>
						Матвей родился в Камышине, и прожил в Камышинском районе 9 лет. Потом переехал в Волгоград.
						Поменял три школы и закончил физико-математический лицей №5 имени Ю.А. Гагарина.
						7 лет отдал спорту Дзюдо и Самбо, также 2 года баскетболу и примерно столько же плаванию. 
					</p>
				<ol style='color:rgb(50, 130, 65)'> Интересные факты:
					<li>
						До 18 лет отучился на права
					</li>
					<li>
						Любит домашних животных, из питомцев были: 2 собаки, карликовый кролик, 2 черепахи, кот, рыбы
					</li>
					<li>
						В 12-13 лет вёл активно ютуб канал
					</li>
				</ol>
				</div>		
			</div>
		</div>
		<div class="main">
			<h2>Иван Спасенов</h2>
			<div class='text_facts'>
				<div class="info">
					<p class="obsh">
						Ваня закончил 11 классов школы и 7 лет театрального кружка.
						Получил в этом году немецкий языковой диплом на уровень С1.
						В ШМУ Ваня с осени 2019 года, и ребенком он столько же раз был в онлайн-сменах, сколько в обычных.
					</p>
				</div>
				<img src="{{ url_for('static', filename='images/vanya.JPG') }}" class="vozhImg">
			</div>
		</div>
		<div class="main2">
			<h2 class="h2_2">Аделина Аветисян</h2>
			<div class='text_facts'>
				<img src="{{ url_for('static', filename='images/delya.JPG') }}" class="vozhImg" style="float:left">
			
				<div class="info">
					<p class="obsh" style='color:rgb(50, 130, 65)'>
						Родилась Деля в городе Волгограде в семье ювелира и швеи 8 февраля в 22:10. У неё есть родной старший брат. Первый зуб у Дели вырос в 3,5 года.
						В четвертом классе у неё выпал первый молочный зуб. С самого детства была достаточно озорным ребенком. Ходила в садик. Занималась аэробикой,
						но в четвертом классе решила уйти из этого вида спорта. С тех пор со спортом на Вы.
						Деля занималась многими видами творческой деятельности: танцевала, пела, ходила на мастер классы, занималась актерским мастерством и так далее.
						В восьмом классе начала активно принимать участие в общественной жизни, в частности, в школе. Вошла в совет старшеклассников, в котором пробыла вплоть до окончания школы.
						В девятом классе начала ходить в биологический клуб. Занимала там должность информации и культуры. Проводила ребятам множество интересных мероприятий.
						Закончила 11 классов. Оба аттестата красные. Имеется золотая медаль. В ШМУ Делю привёл Дмитрий Юрьевич Нечаев,
						чему она очень рада. Поступила сейчас я в наш Волгоградский педагогический университет на специальность по русскому языку и литературе.
						С успехом закончила первый курс 
					</p>
				<ol style='color:rgb(50, 130, 65)'> Интересные факты:
					<li>
						Деле некомфортно когда дверь в комнате остается открытой
					</li>
					<li>
						У неё четыре зуба мудрости
					</li>
					<li>
						Деля терпеть не может лук
					</li>
					<li>
						Любит пиццу с ананасами
					</li>
					<li>
						Аделина невероятнейшим образом обожае6т свою работу вожатого
					</li>
				</ol>
				</div>		
		</div>
		</div>
		<div class="main">
			<h2>Полина Игнатюк</h2>
			<div class='text_facts'>
				<div class="info">
					<p class="obsh">
						Полина родилась в Волжском, всю жизнь прожила в Волгограде, закончила художественную школу с красным дипломом,
						после чего закончила школу с золотой медалью. Она не может отнести себя к гуманитариям или математикам, так как сумеет разобраться в любой сфере при желании.
						При поступлении Полина выбирала между архитектурным направлением и ядерной физикой.
						Поступила в итоге в архитектурный институт, и сейчас думает, что если не выйдет работать по профессии, то она хотела бы открыть макетное бюро.
					</p>
				<ol> Интересные факты:
					<li>
						Полина не умеет кататься на велосипеде
					</li>
					<li>
						Боится насекомых и глубины
					</li>
					<li>
						Хотела бы полетать на параплане
					</li>
				</ol>
				</div>
				
				<img src="{{ url_for('static', filename='images/polina.JPG') }}" class="vozhImg">
				<img src="{{ url_for('static', filename='images/polina2.JPG') }}" class="vozhImg">
			</div>
		</div>
		<div class="main2">
			<h2 class="h2_2">Даниил Квятосинский</h2>
			<div class='text_facts'>
				<img src="{{ url_for('static', filename='images/danya.JPG') }}" class="vozhImg">
			
				<div class="info">
					<p class="obsh" style='color:rgb(50, 130, 65)'>
						Даня родился в Волгограде в 2004 году. Жил в Краснооктябрьском районе до 13 лет. За время обучения поменял 3 школы. В 10-11 классах учился в классе с
						профильными химией2 и биологией. Поступил на бюджет в Волгоградский Государственный Медицинский университет на направление биология. Будет учиться 4 года.
					</p>
				<ol style='color:rgb(50, 130, 65)'> Интересные факты:
					<li>
						Не любит кашу, кроме гречневой
					</li>
					<li>
						Как-то на велосипеде сбил девочку
					</li>
				</ol>
				</div>		
		</div>
		</div>
	</body>
{% endblock %}